@model IEnumerable<FirmaPersonal.Models.Worker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="display: flex; flex-wrap: wrap;">
    @foreach (var item in Model)
    {
    <div style="width: 23%; margin: 35px; border:1px black solid; border-radius:15px; padding: 15px">

        <p>
            @if (item.Photo != null)
            {
                <img src="@Url.Action("GetImage", new {item.Id})" class="img-rounded" style="width: 150px; height:200px;" />
            }
        </p>

        <h3>
            @Html.DisplayFor(modelItem => item.LastName)
        </h3>

        <h4>
            @Html.DisplayFor(modelItem => item.Job.JobName)
        </h4>

        <p>
            @Html.DisplayFor(modelItem => item.Phone)
        </p>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    </div>
    }

</div>
